streamlit
requests
SpeechRecognition
google-generativeai
gTTS
playsound
langchain
pandas
numpy
setuptools>=65.0.0
wheel>=0.40.0


-e .





#conda create -p llmvoice python==3.11.2 -y

#pip install -r requirements.txt
#python gradio_app.py



