streamlit
requests
SpeechRecognition
google-generativeai
gTTS
logging
langchain
playsound

-e .





#conda create -p llmvoice python==3.11.2 -y

#pip install -r requirements.txt
#python gradio_app.py



