# streamlit
# requests
# SpeechRecognition
# google-generativeai
# gTTS
# pipwin
# langchain

langchain_google_genai
SpeechRecognition
gTTS
google-generativeai
python-dotenv
streamlit
requests
googlemaps
pygame==2.5.0
pyaudio==0.2.11  # Include only if you're sure it's required and supported by your server environment

# -e .





#conda create -p llmvoice python==3.11.2 -y

#pip install -r requirements.txt
#python gradio_app.py



